<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mental Health Counseling System</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script type="application/javascript" src="/jquery/jquery.min.js"></script>
    <script type="application/javascript" src="/socket/socket.io.js"></script>
    <script type="application/javascript" src="/popper/popper.min.js"></script>
    <script type="application/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="/js/chatScript.js"></script>
</head>
<body style="background-color: lavender">
<input type="hidden" id="user_id" value="<%=user_id%>">
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark text-white">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand text-white" href="#">MHCS | Counselor's Channel</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav text-white ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/doctor">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/doctor/settings">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/appointment" >Appointments and Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/forum">Forum</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/chat">Chat</a>
                </li>
                <li>
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container mt-2">
    <div class="row">
        <div class="col-12 col-md-7 offset-md-2">
            <input type="text" required class="form-control" id="msg" placeholder="Massage"/>
        </div>
        <div class="col-12 col-md-1 mr-auto">
            <input type="button" id="send" class="btn btn-primary" value="Send"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <div id="content">

            </div>
        </div>
    </div>
</div>



</body>
</html>
