<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add Information </title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
<form method="post">
    <div class="bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="h1 text-center">
                        Welcome to Staff portal
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a class="btn text-decoration-none btn-success btn-block text" href="/userList">SEE USER LIST</a></div> </br>
        <a class="btn text-decoration-none btn-success btn-block text" href="/doctorList">SEE DOCTOR LIST</a></br>
        <a class="btn text-decoration-none btn-success btn-block text" href="/forum">FORUM</a></br>
        <a class="btn text-decoration-none btn-success btn-block text" href="/feedback">FEEDBACK</a>
    </div>

</form>
<script type="application/javascript" src="/jquery/jquery.min.js"></script>
<script type="application/javascript" src="/popper/popper.min.js"></script>
<script type="application/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>